<network>
  <name>{{ network_name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ bridge_name }}' stp='on' delay='0'/>
  <ip address='{{ bridge_ip }}' netmask='{{ bridge_netmask }}'>
    <dhcp>
      <range start='{{ ip_start }}' end='{{ ip_end }}'/>
    </dhcp>
  </ip>
</network>